.button--big {
  font-size: $font-xs;
  font-weight: 700;
  @include transition();
}

.button--primary {
  border-radius: 20px;
  margin-top: $padding-xl;
  @include linearGradient(125deg, $indigo, $purple);
  @include boxShadow($indigo);

  &:hover {
    @include linearGradient(125deg, darken($indigo, 5%), darken($purple, 5%));
  }
}

.button--secondary {
  @extend .button--primary;
  @include linearGradient(125deg, $orange, $red);
  @include boxShadow($red);

  &:hover {
    @include linearGradient(125deg, darken($orange, 5%), darken($red, 5%));
  }
}
